:root {
  /* theme colours */
  /*  --c-brand: #00A8F7; */
  /* --c-brand-light: #E31133; */
  --c-bg: #006492;
  --c-brand: #006492;
  --c-brand-light: #00a8f7;

  /* vitepress theme overrides */
  --vp-font-family-base: 'TT Norms', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --vp-font-family-mono: 'DankMono Nerd Font', 'Dank Mono', 'Fira Code',
    'Fira Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

nav img {
  vertical-align: middle;
}

p img {
  margin: 0px auto;
}

.prose p {
  text-align: justify;
}

.prose hr {
  border-top: 1px solid #e5e7eb;
}

.link {
  color: var(--c-brand);
}

.link:hover {
  color: var(--c-brand-light);
}

h2 {
  display: inline;
}

.header-anchor {
  display: inline;
  margin-left: 0.5rem;
  text-decoration: none;
}

.header-anchor:hover {
  text-decoration: underline;
}

/* code blocks styling */
/* .prose code { */
/*   font-family: var(--code-font); */
/* } */

.prose code::before {
  content: none;
}

.prose code::after {
  content: none;
}

button.copy {
  display: none;
}

span.lang {
  position: absolute;
  right: 0.5em;
  font-size: 0.75em;
  color: #999;
  font-family: var(--code-font);
}
