@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --c-brand: #3eaf7c; */
  /* --c-brand-light: #4abf8a; */
	--c-bg: #006492;
 /*  --c-brand: #00A8F7; */
	/* --c-brand-light: #E31133; */
	--c-brand: #006492;
	--c-brand-light: #00A8F7;
  --code-font: 'DankMono Nerd Font', 'Dank Mono', 'Fira Code', 'Fira Mono', ui-monospace,
    SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

html {
	font-family: "TT Norms", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	/* background-color: var(--c-bg); */
}

nav img {
  vertical-align: middle;
}

p img {
  margin: 0px auto;
}

.prose hr {
  border-top: 1px solid #e5e7eb;
}

.link {
  color: var(--c-brand);
}

.link:hover {
  color: var(--c-brand-light);
}

.header-anchor {
  display: none;
}


/* code blocks styling */
.prose code {
  font-family: var(--code-font)
}

.prose code::before {
  content: none;
}

.prose code::after {
  content: none;
}

button.copy {
  display: none;
}

span.lang {
  position: absolute;
  right: 0.5em;
  font-size: 0.75em;
  color: #999;
  font-family: var(--code-font);
}
